
*{
    margin: 0;
    font-family: inter;
    /* header section styles for the website */
}
.header-title{
    font-weight: 400px;
    font-size: 65px;
    color: white;
    padding-bottom: 60px;
}
.header-description{
    font-weight: normal;
    font-size: 18px;
    color: white;
    padding-bottom: 40px;
}
.header{
    width: 1365px;
    height: 632px;
    background-image: url('../images/donation8.jpg');
    background-position: center;
    background-repeat: no-repeat;
}
.btn-primary{
    text-align: center;
    padding: 20px;
    color: white;
    background-color: rgb(221, 111, 111);
    border: none;
    border-radius: 5px;
    width: 200px;
    font-weight: 400;
}
.head{
    text-align: center;
}
h1{
    padding-top: 200px;
}
h2{
    padding-top: 30px;
}

/* main section styles */
.body{
    text-align: center;
}
.body-title{
    font-weight: 900px;
    color: black;
    padding-top: 100px;
    padding-bottom: 30px;
}
.body-description{
    color: gray;
}
#money{
    display: inline-block;
}

/* button styles */
.second-btn{
    background-color: white;
    padding: 25px 15px;
    border: none;
    font-size: larger;
    font-weight: 600;
    color: gray;
}
.btn{
    padding-top: 100px;
}
.second-btn:hover{
    background-color: rgba(153, 151, 148, 0.527);
}